* {
  padding: 0px;
  margin: 0px;
  box-sizing: border-box;
}
header {
  padding-top: 20px;
  display: flex;
  align-items: center;

  .title-home {
    color: rgb(255, 255, 255);
    text-decoration: none;
    font-weight: 700;
  }

  .navbarLogo {
    padding-left: 30px;
    width: 250px;
    height: auto;
  }
}
.container-all-human {
  display: block;
  min-height: 100vh;
  background-size: cover;
  background-repeat: no-repeat;
  background-position: center;

  .titleFalcon9 {
    font-size: 55px;
    font-weight: bold;
    color: white;
  }
  .title1Cont04 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 45px;
  }
  .title1Cont04Page1 {
    font-size: 100px;
  }

  .title2Cont04 {
    font-family: system-ui, -apple-system, BlinkMacSystemFont, "Segoe UI",
      Roboto, Oxygen, Ubuntu, Cantarell, "Open Sans", "Helvetica Neue",
      sans-serif;
    font-size: 20px;
  }
  .titlemisao {
    font-size: 15px;
  }
}
.containerSF {
  width: 100%;
  padding-top: 1rem;
  padding-right: var(--bs-gutter-x, 0.75rem);
  padding-left: var(--bs-gutter-x, 0.75rem);
  margin-right: auto;
  margin-left: auto;
}
.container04 {
  background: url(../../img/falcon9/01.jpg);
  background-size: cover;
  .ceta {
    width: 150px;
    height: auto;
    display: grid;
    align-items: flex-end;
    justify-content: center;
  }
  .titlecontent {
    display: flex;
    flex-direction: column;
    justify-content: center;
    // min-width: 80vh;
    text-align: center;
  }
}
.container05 {
  background: url(../../img/falcon9/02.jpg);
  background-size: cover;
  .titlePageTerra {
  }
  .titleFalcon9Page2 {
    text-align: center;
    display: flex;
    justify-content: space-around;
  }
  .titleFalcon9Page2Nunber {
    font-size: 90px;
    font-weight: 500;
    color: white;
  }
  .title2Falcon9Page2 {
    font-size: 20px;
    color: white;
  }
  .title3Falcon9Page2 {
    padding-right: 45%;
    padding-bottom: 20%;
    font-size: 25px;
    line-height: 3rem;
  }
}
.container06 {
  background-color: black;
  .tatle2Page3Carousel1-all {
    font-size: 25px;
  }
  .titlePage3Carousel1 {
    position: absolute;
    top: 50px;
    text-align: left;
  }
  .table {
    border-collapse: collapse;
    width: 55%;
    color: white;
  }

  .title2Page3Carousel2 {
    position: absolute;
    top: -10%;
    text-align: left;
    width: 40%;
  }
  .title2Page3Carousel3 {
    text-align: left;
    bottom: 10%;
    width: 40%;
  }
  .tablePage3Carousel3 {
    border-collapse: collapse;
    width: 100%;
  }
  .title2Page3Carousel4 {
    text-align: left;
    width: 37%;
  }
  .title2Page3Carousel5 {
    text-align: left;
    width: 42%;
    margin-left: -05%;
    bottom: 15%;
  }
  .tablePage3Carousel5 {
    width: 100%;
  }
}
.container07 {
  background: url(../../img/falcon9/08.jpg);
  background-size: contain;
  color: white;
  .textPage4Falcon9 {
    text-align: left;
    width: 50%;
  }
  .tablePage4Falcon9 {
    color: white;
    margin-left: -01%;
    width: 50%;
  }
}
.container007 {
  background-size: contain;

  .textCarousel2 {
    background-color: black;
    color: white;
  }
}

@media (max-width: 425px) {
  .container-all-human {
    min-height: 100vh;
    background-size: cover;
    background-repeat: no-repeat;
    background-position: center;
  }

  .container04 {
    .title1Cont04 {
      font-size: 45px;
    }
    .title2Cont08Page1 {
      font-size: 18px;
    }
  }
  .container05 {
    .titleFalcon9Page2Nunber {
      font-size: 25px;
    }
    .title2Falcon9Page2 {
      font-size: 12px;
    }
    .title3Falcon9Page2 {
      display: flex;
      align-items: stretch;
      height: 10vh;
      flex-direction: column;
      // justify-content: center;
      font-size: 12px;
      line-height: 20px;
      // padding-bottom: 80%;
      // text-align: justify;
    }
  }
  .container06 {
    .containerEstaçao {
    }
    .table1Page3 {
      font-size: 20px;
    }
  }
  .container07 {
    display: flex;
    align-items: stretch;
    height: 100vh;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
    color: white;

    .textPage4Falcon9 {
      font-size: 15px;
      text-align: justify;
      width: 100%;
    }
    .tablePage4Falcon9 {
      font-size: 15px;
      color: white;
      margin-left: 0%;
      width: 110%;
      margin-right: 0%;
    }
  }

  .container007 {
    // background-size: cover;
    display: flex;
    align-items: stretch;
    height: -1vh;
    flex-direction: column;
    justify-content: center;
    line-height: 20px;
  }

  .container12 {
    .title2HumanPage5 {
      font-size: 50px;
    }
  }

  .footerFalcon9 {
    padding: 15px;
    text-align: center;
    .title-footer9 {
      text-decoration: none;
      font-size: 10px;
    }
  }
  .title-footer-nome {
    font-size: 10px;
  }
}

@media (max-width: 768px) {
  .container06 {
    .imgCarousel1 {
      width: 950px;
      height: auto;
    }
    .tatle2Page3Carousel1-all {
      font-size: 15px;
    }
    .titlePage3Carousel1 {
      top: 5px;
      text-align: left;
      width: 80%;
    }
    .table {
      border-collapse: collapse;
      width: 70%;
    }

    .title2Page3Carousel2 {
      // position: absolute;
      top: -50%;
      text-align: left;
      width: 60%;
    }
    .title2Page3Carousel3 {
      text-align: left;
      top: -60%;
      width: 70%;
    }
    .tablePage3Carousel3 {
      border-collapse: collapse;
      width: 100%;
    }
    .title2Page3Carousel4 {
      top: 2%;
      text-align: left;
      width: 50%;
    }
    .title2Page3Carousel5 {
      text-align: left;
      width: 50%;
      margin-left: -05%;
      top: -14rem;
    }
    .tablePage3Carousel5 {
      width: 100%;
    }
  }
}
